# Module 1: Introduction to Exploratory Analysis

What we'll be doing in this notebook:
-----

 1.  Checking variable types
 2.  Checking for missing variables 
 3.  Observing number of observations in the dataset
 4.  Quickly displaying Descriptive statistics

### Import packages

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
import dateutil.parser

# The command below means that the output of multiple commands in a cell will be output at once
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# The command below tells jupyter to display up to 80 columns, this keeps everything visible
pd.set_option('display.max_columns', 80)
pd.set_option('expand_frame_repr', True)

# Show figures in notebook
%matplotlib inline

### Import dataset

We read in our dataset

In [ ]:
path = '../data/'
filename = 'loans.csv'

try:
    df = pd.read_csv(path + filename)
except FileNotFoundError:
    # If data is not found, download it from GitHub
    import os
    os.system(f'git clone --single-branch --depth=1 https://github.com/DeltaAnalytics/machine_learning_for_good_data {path}')
    df = pd.read_csv(path+filename)

0

In the cell below, we take a random sample of 2 rows to get a feel for the data.

In [ ]:
df.sample(n=2)

,id_number,loan_amount,lender_count,status,funded_date,funded_amount,repayment_term,location_country_code,sector,description,use
3423,1569302,5100,25,fundraising,NaN,650,6,RW,Services,"Greetings from Rwanda! This is Umurinzi Cb, a ...",to buy more clothes to be tailored to sell at ...
499,1145755,3775,79,funded,2016-09-14T17:21:16Z,3775,7,BI,Agriculture,Daphrose is part of the Twubake Il Group and l...,to increase her capital and to buy three cows ...

In [ ]:
# Here are all of the columns
df.columns.tolist()

['id_number',
 'loan_amount',
 'lender_count',
 'status',
 'funded_date',
 'funded_amount',
 'repayment_term',
 'location_country_code',
 'sector',
 'description',
 'use']

In [ ]:
# Find the dtype, aka datatype, for a column
df['id_number'].dtype

dtype('int64')

In [ ]:
# Try this - Pick a couple of columns and check their type on your own
type(df['description'])

pandas.core.series.Series

### 2) Do I have missing values?

<a id='missing_check'></a>

If we have missing data, is the missing data at random or not? If data is missing at random, the data distribution is still representative of the population. You can probably ignore the missing values as an inconvenience. However, if the data is systematically missing, the analysis you do may be biased. You should carefully consider the best way to clean the data, it may involve dropping some data.

We want to see how many values are missing in certain variable columns. One way to do this is to count the number of null observations. 

For this, we wrote a short function to apply to the dataframe. 

We print out the first few observations, but you can remove the `.head()` to print out all columns.

In [ ]:
#Create a new function:
def num_missing(x):
    return sum(x.isnull())

#Applying per column:
print("Missing values per column:")
## Check how many are missing by column, and then check which ones have any missing values
print(df.apply(num_missing, axis=0).where(lambda x : x != 0).dropna().head(20)) 
#axis=0 defines that function is to be applied on each column

Missing values per column:
funded_date              937.0
location_country_code     17.0
description              342.0
use                      342.0
dtype: float64

### 3) Sanity Checks
<a id='obs_check'></a>

**Does the dataset match what you expected to find?**
- Is the range of values what you would expect? For example, are all loan_amounts above 0.
- Do you have the number of rows you would expect?
- Is your data for the date range you would expect? For example, is there a strange year in the data like 1880.
- Are there unexpected spikes when you plot the data over time?


In the command below we find out the number of loans and number of columns by using the function shape. You can also use `len(df.index)` to find the number of rows.

In [ ]:
print(f'There are {df.shape[0]} observations and {df.shape[1]} features')

There are 6019 observations and 11 features

Remember, each row is an observation and each column is a potential feature. 

Remember we need large about of data for machine learning.

### 4) Descriptive statistics of the dataset

<a id='desc_stats'></a>

The `describe` command conveniently below provides key summary statistics for each numeric column.

In [ ]:
df.describe()

          id_number   loan_amount  lender_count  funded_amount  repayment_term
count  6.019000e+03   6019.000000   6019.000000    6019.000000     6019.000000
mean   1.359770e+06   1499.011464     35.661406    1325.070610       11.803290
std    3.719316e+05   2512.517280     73.420256    2444.726815        9.114948
min    1.377200e+04     50.000000      0.000000       0.000000        3.000000
25%    1.425188e+06    300.000000      7.000000     200.000000        8.000000
50%    1.550673e+06    625.000000     16.000000     525.000000       10.000000
75%    1.566204e+06   1825.000000     41.000000    1525.000000       14.000000
max    1.573593e+06  80000.000000   2665.000000   80000.000000      133.000000

In order to get the same summary statistics for categorical columns (string) we need to do a little data wrangling. 

The first line of code filters for all columns that are a data type object. As we know from before this means they are considered to be a string. The final row of code provides summary statistics for these character fields.

In [ ]:
categorical = df.dtypes[df.dtypes == "object"].index
df[categorical].describe()

,status,funded_date,location_country_code,sector,description,use
count,6019,5082,6002,6019,5677,5677
unique,3,4453,30,14,5277,4325
top,funded,2018-07-22T15:54:41Z,TZ,Food,Zaina is 19-year-old entrepreneur who lives wi...,to pay for a stove.
freq,5082,9,400,1738,2,80

In the table above, there are 4 really useful fields: 

1) **count** - total number of fields populated (Not empty). 

2) **unique** - tells us how many different unique ways this field is populated. 

3) **top** - tells us the most popular data point. For example, the top activity in this dataset is Farming which tells us most loans are in Farming.

4) **freq** - tells us that how frequent the most popular category is in our dataset.